.hotel_search_container {
    display: flex;
    gap: 2rem;

    .asidewraper {
        @media only screen and (max-width:1311px) {
            display: none;
        }
    }

    .cardcontainer {
        padding: 0rem 1rem;
        padding-bottom: 1rem;
        width: 100%;
        /* text-align: center; */

        .headinghotel {
            max-width: 67rem;
            margin-top: 0.6rem;

            .hotelfaccontainer {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
                margin-top: 2rem;

                .hotelfactlity {
                    border-radius: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    max-width: 16rem;
                    height: 45px;
                    padding: 0px 10px;
                    border: 1px solid grey;
                    margin-top: -0.3rem;
                }
            }
        }

        .eachcard{
            .nofound{
                text-align: center;
                font-size: 1.5rem;
            }
        }

    }
}


