.checkkmain{
    margin: 1rem 5rem;

    .checkbasic{
        display: flex;
        flex-direction: column;
        margin-bottom: 6rem;
        flex-wrap: wrap;

        .basiclis{
            display: flex;
            gap: 2rem;
            margin-left: 1.5rem;
            flex-wrap: wrap;
        }
    }
    .ticketdetail{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        border: 1px solid grey;
        padding: 1rem;
        border-radius: 0.5rem;

        .t1{
            .tickttrv{
                font-weight: 700;
            }
            .fareprice,.faretax{
                display: flex;
                max-width: 25rem;
                flex-wrap: wrap;
                justify-content: space-between;
            }          
        }
        .faretotal{
            display: flex;
            max-width: 25rem;
            flex-wrap: wrap;
            justify-content: space-between;

        }
        .farehidden{
            .Nofees{
                color: green;
                font-weight: 700;            
            }
        }
    }

    .paymentdetails{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        border: 1px solid grey;
        padding: 1rem;
        border-radius: 0.5rem;
        margin-top: 2rem;

        .payopt{
            display: flex;
            gap: 0.5rem;
            flex-wrap: wrap;
        }




        .payment_card{
        
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            .Chname{
                width: 49.6%;
                .cinp{
                    width: 100%;
                    height: 2rem;
                    border-radius: 0.1rem;
                    border:1px solid grey;
                }
            }
            .Expire_cvv{
                display: flex;
                gap: 0.5rem;
                width: 49.6%;
                flex-wrap: wrap;
              
               .ex_div{
                display: flex;
                flex-direction: column;
                width: 49.38%;
                .excvv{
                  width:100%;
                  height: 2rem;
                  border-radius: 0.1rem;
                  border:1px solid grey;
                  
                }
        
               }
               
             
            }
            .btn_pay{
                color: #ffffff;
                background-color:#006CE4;
                border: none;
                padding: 1rem;
                margin-top: 0.5rem;
                cursor: pointer;
                width: 8rem;

                &:hover{
                    background-color:#003B95;
                }
            }
         }
    }
}