.parent{
   position: relative;
    top:1.8rem;
.mains {
    display: flex;
    justify-content: center;

    .mainsearch {
        display: flex;
        align-items: center;
        background-color: #FFB700;
        width: 70rem;
        height: 3.5rem;
        justify-content: center;
        gap: 5px;
        border-radius: 5px;
        position: relative;
        flex-wrap: wrap;

        @media only screen and (max-width:1106px){
            height:initial;
            padding-top: 5px;
     }

        .box {
            display: flex;
            background-color: #ffffff;
            border-radius: 5px;
            height: 45px;
            width: 20rem;
            padding-left: 20px;
            justify-content: space-around;
            align-items: center;
            z-index: 2;

            @media only screen and (max-width:1106px){
                width: 100%;
                z-index:initial;
            }
            @media only screen and (max-width:645px){
                width: 100%;
                z-index:initial;
            }
           

            .subbox{
                display: flex;

                align-items: center;
                gap: 0.5rem;
            }

            .inputbox {
                border: none;
                outline: none;
                padding: 4px;
                max-width: 18rem;
                height: 2.2rem;
                margin: 10px;
                font-size: 15px;  
                color: #575757;
                display: flex;
                align-items: center;
               
            }
            .room{
                cursor: pointer;
                color: #575757;
            }

            .date{
                position: absolute;
                top: 3.5rem;
                margin-right: 1.5rem;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

                @media only screen and (max-width:645px){
                    top: 6rem !important;
               }
                @media only screen and (max-width:361px){
                    top: 6rem !important;
               }
            }
            .options_nav{
                position: absolute;
                top: 3.5rem;
                background-color: white;
                color: grey;
                margin-right:1rem;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

                @media only screen and (max-width:645px){
                    top: 9.38rem;
               }

                .optionsitem{
                    width: 19rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 10px;
                    padding: 0rem 1.5rem;

                    .optioncounter{
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;
                    

                        .optionbtn{
                            padding: 0.5rem 1rem;
                            border: 0.1rem solid white;
                            cursor: pointer;
                        }
                    }
                   
                }

            }


        }

        .btnsearch {
            padding: 10.6px 2rem;
            background-color: #006CE4;
            color: #ffffff;
            font-size: 20px;
            font-weight: bolder;
            border-radius: 5px;
            outline: none;
            border: none;
            cursor: pointer;
            @media only screen and (max-width:1106px){
                width: 100%;
         }
            @media only screen and (max-width:645px){
                width: 100%;
         }
        }
    }

}

.downrow{
    cursor: pointer;
}

}


