.inter_container{
    padding:0rem 4.9rem;
    padding-bottom: 2rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;

    .card{
      text-align: center;

        .img{
          border-radius: 0.5rem;
          min-width: 16rem;
        }
        .des_date{
          font-weight: 200;
        }
    }
}