.formbox{
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 2rem 0.5rem;
    .form{
        display: flex;
        flex-direction: column;
        width: fit-content;
        gap: 2rem;
        padding: 4rem;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        @media screen and (max-width:471px) {
            padding: 1rem;
        }        
        .namebox{
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            flex-wrap: wrap;
            @media screen and (max-width:369px) {
                
                gap: 0.5rem;
            }  
            >input{
                width: 15rem;
                height: 2rem;
                font-size: 1rem;
            }

        }
        .emailbox{
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            flex-wrap: wrap;
            @media screen and (max-width:369px) {
                gap: 0.5rem;
            }  
            >input{
                width: 15rem;
                height: 2rem;
                font-size: 1rem;
            }
        }
        .passwordbox{
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            flex-wrap: wrap;
            @media screen and (max-width:369px) {
                gap: 0.5rem;
            }  
            >input{
                width: 15rem;
                height: 2rem;
                font-size: 1rem;
            }
        }
        .btn_register{
            background-color:#003B95 ;
            color:#ffffff;
            border: none;
            padding: 0.5rem;
            font-size: 1rem;
            cursor: pointer;
        }

        .label{
            font-weight: 700;
        }
    }
    .error{
        color: red;
    }
 
}